
/* alertes  ********************************** */

.info, .danger, .succes, .avertissement {
  width: 40%;
  padding: 1em;
  margin :auto;
  text-align: center;
  inline: block;
	margin-top : 3em;
	margin-bottom : 3em;	}

.info{
	background-color : lighten($colorAlerteInfo, 40%);
	color : $colorAlerteInfo;
	border : 1px solid $colorAlerteInfo;
 }
 .danger{
	background-color : lighten($colorAlerteDanger, 40%);
	color : $colorAlerteDanger;
	border : 1px solid $colorAlerteDanger;
 }
 .succes{
	background-color : lighten($colorAlerteSucess, 40%);
	color : $colorAlerteSucess;
	border : 1px solid $colorAlerteSucess;
 }
 .avertissement{
	background-color : lighten($colorAlerteAvert, 40%);
	color : $colorAlerteAvert;
	border : 1px solid $colorAlerteAvert;
 }