
/* Boutons  ************************************** */

.btn {
  text-decoration: none;
  text-align: center;
  transition-property: background-color,color, border-color, border, box-shadow;
  transition-duration: 0.3s;
  margin: 0.5em; 
  font-size: 14px;
  padding: $paddingHautBtn $paddingCoteBtn;
  background-color: $backgroundBtn;
  color: $colorBtn;
  border-radius: 18px;
  font-weight: 600;
  box-shadow: 1px 1px 2px black;}

  
.btnSmall{
	padding: ($paddingHautBtn - 0.4em) ($paddingHautBtn - 0.4em);
	
}
 
.btnLarge{
	padding: ($paddingHautBtn + 0.3em) ($paddingHautBtn + 0.5em);
}
.btnJaune{
	background-color : $backgroundJauneBtn;
}
.btnVert{
	background-color : $backgroundVertBtn;
}
.btnRouge{
	background-color : $backgroundRougeBtn;
}
.btnBleu{
	background-color : $backgroundBleuBtn;
}
