@mixin grille($nbCol,$Lcol,$offset,$cols){
    
    $largeurGouttiere:(100 - ($nbCol*$Lcol))/($nbCol+1);
    
    margin-left: ((($offset+1)*$largeurGouttiere + $offset*$Lcol)); 
    width: ($Lcol*$cols + $largeurGouttiere*($cols - 1));
    
    border: 1px solid black;
    box-sizing: border-box;
}