  /* Jumbotron  ****************************** */

.jumbotron{
	background-color: #EEE;
	width : 75%; 
	margin:auto;
	padding : 2em;
	padding-top : 5px;
	border-radius:5px;
    margin-bottom : 50px;
    p{
       font-size: 13pt;
       position : relative; 
	   left : 3%;
    }
}
@for $titre from 1 to $nbTitre +1{
	.jumbotron h#{$titre}{
		text-align:left;
	}
}