html{
	height: 100%;
}
html, body, ul, li{
	font-family: Verdana, Arial;
  	margin :0;
	padding:0;
	border-sizing : border-box;
}
body{
    padding-right : 2%;
    padding-left : 2%;
}
a{
	text-decoration : none;
}
p, div{
	font-size: 11pt;
    text-align: justify;
}