$nbTitre : 6;
$tailleTitre : 26pt;
$colorSousTitre : #999;

$backgroundBtn : #777;
$colorBtn : white;
$paddingHautBtn : 1em;
$paddingCoteBtn : 1.2em;

$backgroundVertBtn : #2CE042 ;
$backgroundJauneBtn : #FFEB32 ;
$backgroundBleuBtn : #7938D3 ;
$backgroundRougeBtn : #FF3C32 ;

$colorAlerteInfo : blue;
$colorAlerteAvert : grey;
$colorAlerteSucess : green;
$colorAlerteDanger : red ;

$largeCols : 15;  				/* en : % */
$nbCols:8;
	
@import 'reglesBases';
@import 'balises';
@import 'titres';
@import 'menu';
@import 'boutons';
@import 'alertes';
@import 'jumbotron';
@import 'grillesMixin';


section{
    display:flex;
    flex-wrap: wrap;
}

//Affichage de la grille

#grille{
    position: absolute;
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

#grille div{
    background-color: grey;
    opacity: 0.2;
    height: 3000px;
    @include grille(8,10%,0,1);
}

//Positionnement du contenu

/* Dans le cas ou le div n'est pas défini : il prend qu'une colonne */

section:nth-child(2) div{
    @include grille(8,10%,0,1);
}
/* =================================================== */ 

section:nth-child(2) div:nth-child(1){
    @include grille(8,10%,0,1);
}

section:nth-child(2) div:nth-child(2){
    @include grille(8,10%,1,3);
}

section:nth-child(2) div:nth-child(3){
    @include grille(8,10%,2,4);
}

section:nth-child(2) div:nth-child(4){
    @include grille(8,10%,0,8);
}





